body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  max-width: 60rem;
  margin: 0 auto;
  padding: 1rem;
}

.pokemons {
  display: flex;
  flex-direction: column;
}

.pokemons__pokemon {
  border: 1px solid black;
  border-radius: 10px;
  margin-bottom: 1rem;
  padding: 1rem;
}

.pokemon__heading {
  display: flex;
  align-items: center;
}

.pokemon__title {
  display: flex;
  flex-grow: 1;

  justify-content: space-between; 
}

.pokemon__details {
  display: flex;
}

.pokemon__details > div {
  margin-right: 0.5rem;
}

.pokemon__sprite {
  margin-right: 1rem;
}